<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Baby Care App</title>
</head>
<body>
    <header>
        <nav>
            <a href="/parent">Create Parent</a>
            <a href="/kid">Create Kid</a>
            <a href="/event">Insert Event</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
